:root{
    --primary-color:rgb(33, 33, 85);
    --secondary-color: rgb(12, 13, 58);
    --neutral-color: linear-gradient(rgb(48, 48, 48), rgb(59, 59, 59));
    --accent1-color: rgb(80, 177, 169);
    --accent2-color: rgb(243, 143, 28);
    --accent3-color: rgb(30, 199, 162);
    --background-color: rgb(15, 37, 37);
    --background2-color: rgb(15, 87, 87);
    --button1-color: rgb(142, 226, 198, .6);
    --button2-color: rgb(193, 253, 233, .6);
    --menu-speed:0.75s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: transparent;
    font-size: 1.2rem;
    overflow-x: hidden;
}

p {
    color: rgb(228, 228, 228)
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(61deg, var(--background2-color), var(--background-color));
    height: 100vh;
    width: 100vw;
}

section {
    padding: 1rem 0;
}


/* NavBar */
nav {
    background: linear-gradient(61deg, rgb(15, 63, 63, .93), var(--background-color));
    min-height: 8vh;
    z-index: 20;
    box-shadow: 0px 2px 2px rgba(0, 255, 213, 0.151);
    display: flex;
    top: 0;
    position: sticky;
    padding: 1vh 0;
    overflow:hidden;
    align-items: center;
    justify-content: space-around;
}

.logo {
    padding-left: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
    text-shadow: var(--background-color);
}

.ms {
    display: inline;
    background: linear-gradient(var(--accent2-color), rgb(240, 202, 33));
    border-radius: 30%;
    font-size: 1.6rem;
    padding: .1rem .2rem;
    color: whitesmoke;
    text-decoration: none;
}

.links{
    position: fixed;
    padding: 1rem;
    z-index: 30;
    background: rgb(63, 63, 63, .9);
    top: 9vh;
    font-size: 2rem;
    line-height: 4rem;
    right: -12rem;
    transition: all 0.2s ease;
}

.nav-links{
    justify-content: space-around;
}

.portfolio-btn {
    background: linear-gradient(50deg, var(--accent3-color), rgb(83, 236, 191));
    color: var(--neutral-color);
    border: none;
    padding: .2rem .5rem;
    font-weight: 750;
    font-size: .9rem;
    align-items: center;
    border-radius: 10%;
    display: flex;
    cursor: pointer;
    margin-right: 1.2rem;
    outline: none;
}

.portfolio-btn:hover {
    background: var(--neutral-color);
    color: var(--accent3-color);
    }

.eye {
    max-width: 1.2rem;
    margin-left: .7rem;
}

.logo{
    flex: 1;
    color: whitesmoke;
}

.hamburger{
    font-size: 1.7rem;
    margin-right: 1rem;
    min-width: 24px;
    background: transparent;
    color: whitesmoke;
    border: none;
    outline: none;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

header {
font-size: 2rem;
}

/* Main */
.home {
    padding: 1rem 1rem;
}

.name {
    line-height: 2rem;
}

.headline {
    padding: 2rem 0;
}

header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button {
    color: var(--accent1-color);
    background: var(--background-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: var(--accent1-color);
    color: var(--accent3-color);
}

.footer {
    background: var(--accent1-color);
    align-self: flex-end;
    text-align: center;
}

.btn {
    padding: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    margin: .5rem;
    border-radius: 10%;
    border: none;
    background: var(--accent1-color);
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 1px 1px rgba(0, 255, 213, 0.329);
}
    
.btn:hover {
    background: var(--neutral-color);
    color: var(--accent1-color);
}

/* Project Carousel */
.projects-container {
    display: flex; 
    position: relative;
}

.projects-carousel {
    margin: 0 1rem;
    overflow-x:scroll;
    display: flex;
    border-radius: 5%;
}

.projects {
    display: flex;
    height: 97%;
}

.project {
    min-height: 270px;
    margin: 0 0.8rem;
    color: black;
    display: flex;
    border: 1px solid rgb(196, 196, 196);
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 3px 2px 5px rgb(0, 0, 0, .7);
}

.project li {
    min-width: 10%;
    list-style: none;
    flex: 1;
}

.project-item {
    height: 100%;
    position: absolute;
    width: 100%;
    transition: all .3s ease;
}

.project-item img{
    width: 100%;
    height: 290px;
    position: absolute;
    top: -10px;
    opacity: .85;
}

.project-title {
    padding: .4rem;
    color: white;
    background: rgb(29, 29, 29);
    font-weight: 800;
    border-radius: 20%;
    position: absolute;
    top: 20%;
    z-index: 1;
}


/* Project Dropdown */
.project-dropdown {
    background:rgb(97, 82, 82, .96);
    padding: 1rem;
    color: white;
    position: relative;
    height: 100%;
    top: -18rem;
    transition: all .3s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.project-dropdown h2{
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: .5rem;
}

.project-dropdown a{
    text-align: center;
    color: var(--accent1-color);
    font-size: 1rem;
}

.project-dropdown p{
    flex: 1;
}

.dropdown-links{
    display: flex;
    justify-content: space-around;
}

/* Arrows */
.arrow {
    border-radius: 50%;
    border: none;
    top: 35%;
    color: rgb(10, 10, 10, .6);   
    outline: none;
    background: rgba(128, 128, 128, 0.4);
    padding: .3rem .5rem;
    cursor: pointer;
    font-size: 40px;
    z-index: 2;
}

.arrow:hover {
    background: rgba(110, 110, 110, 0.8)
}

.right-arrow {
    position: absolute;
    right: -2%;
    padding-left: .6rem;
    padding-right: .4rem;
}

.left-arrow {
    position: absolute;
    left: -2%;
    padding-left: .4rem;
    padding-right: .6rem;
}

/* Skills */
.skill {
    margin: 1rem;
    background: linear-gradient(20deg, var(--button1-color), var(--button2-color), var(--button1-color));
    color: white;
    transition: all 1s ease;
    border-radius: 10%;
    padding: 1rem;
}

.skill h1{
    text-align: center;
    font-weight: 700;
}

.skill ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Effects */
.show {
    display: block;
    right: 0;
}

.show-dropdown {
    top: 0;
}

.selected {
    font-size: 210%;
}

.darken {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background: rgba(10,10,10,.6);
}


/* Scrollbar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    margin: .2rem 0;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@media screen and (min-width: 52em) {
    .app {
        display: flex;
        flex-direction: column;
    }
    body{
        font-size: 2rem;
    }

    .home {
        max-width: 1600px;
        align-self: center;
    }
    
    header h1{
        font-size: 4rem;
    }
    
    .links{
        position: relative;
        right: 0;
        top: 0;
    }

    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        min-height: 30px;
    }

    form input,
    form button {
        padding: 0.5rem;
        font-size: 2rem;
        border: none;
        background: whitesmoke;
    }

    .project {
        width: 400px;
    }
}