:root{
    --primary-color:rgb(33, 33, 85);
    --secondary-color: rgb(12, 13, 58);
    --neutral-color: rgb(59, 59, 59);
    --accent1-color: rgb(86, 172, 97);
    --accent2-color: rgb(255, 155, 41);
    --accent3-color: rgb(62, 178, 255);
    --background-color: rgb(96, 110, 155);
    --menu-speed:0.75s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: var(--primary-color);
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.app {
    background: var(--secondary-color);
  }

nav {
    background: transparent;
    min-height: 8vh;
    margin: auto;
    display: flex;
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: space-around;
}

.logo {
    padding-left: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
    text-shadow: var(--background-color);
}

.nav-links{
    display: none;
    justify-content: space-around;
}

.portfolio-btn {
    background: var(--neutral-color);
    color: var(--accent3-color);
    border: var(--accent1-color) 1px solid;
    padding: .2rem .5rem;
    font-weight: 750;
    border-radius: 15%;
    margin-right: 1.2rem;
}

.logo{
    flex: 1;
    color: whitesmoke;
}

.hamburger{
    font-size: 1.7rem;
    margin-right: 1rem;
    background: transparent;
    color: white;
    border: none;
}

.nav-links li{
    list-style: none;
}

header {
font-size: 2rem;
}

.home {
    padding: 0 2rem;
    min-height: 85vh;
}

.name {
    line-height: 2rem;
}

header,
form {
min-height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}

form button {
color: var(--accent1-color);
background: var(--background-color);
cursor: pointer;
transition: all 0.3s ease;
}

form button:hover {
background: var(--accent1-color);
color: var(--accent3-color);
}

.footer {
background: var(--accent1-color);
align-self: flex-end;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.project-list {
    min-width: 30%;
    list-style: none;
}
  
.project {
    margin: 0.5rem;
    background: whitesmoke;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}
.filter-project {
    padding: 1rem;
}
.project li {
    flex: 1;
}

.trash-btn,
.complete-btn {
  background: grey;
  color: whitesmoke;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.project-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: whitesmoke;
}

.btn {
    background: var(--neutral-color);
    border: var(--neutral-color) solid 1px;
    color: var(--accent1-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
    
.btn:hover {
    background: var(--accent1-color);
    color: var(--accent3-color);
}
    
/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: var(--accent1-color);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: var(--accent1-color);
    cursor: pointer;
    pointer-events: none;
  }

@media screen and (min-width: 52em) {
    .nav-links {
        display: flex;
    }

    form input,
    form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    }
}