:root{
    --primary-color:rgb(33, 33, 85);
    --secondary-color: rgb(12, 13, 58);
    --neutral-color: rgb(59, 59, 59);
    --accent1-color: rgb(86, 172, 97);
    --accent2-color: rgb(255, 155, 41);
    --accent3-color: rgb(62, 178, 255);
    --background-color: rgb(96, 110, 155);
    --menu-speed:0.75s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: var(--primary-color);
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}



.app {
    background: var(--secondary-color);
  }

nav {
    background: transparent;
    min-height: 8vh;
    margin: auto;
    display: flex;
    top: 0;
    position: sticky;
    padding-top: 2vh;
    align-items: center;
    justify-content: space-around;
}

.logo {
    padding-left: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
    text-shadow: var(--background-color);
}

.ms {
    display: inline;
    background: var(--accent1-color);
    border-radius: 100%;
    font-size: 1.8rem;
    padding: .3rem;
    border: solid 4px var(--primary-color);
    color: white;
    text-decoration: none;
}

.nav-links{
    display: none;
    justify-content: space-around;
}

.portfolio-btn {
    background: var(--accent3-color);
    color: var(--neutral-color);
    border: var(--primary-color) 2px solid;
    padding: .2rem .5rem;
    font-weight: 750;
    font-size: .9rem;
    align-items: center;
    border-radius: 10%;
    display: flex;
    cursor: pointer;
    margin-right: 1.2rem;
    outline: none;
}

.portfolio-btn:hover {
    background: var(--neutral-color);
    color: var(--accent3-color);
    }

.eye {
    max-width: 1.2rem;
    margin-left: .7rem;
}

.logo{
    flex: 1;
    color: whitesmoke;
}

.hamburger{
    font-size: 1.7rem;
    margin-right: 1rem;
    background: transparent;
    color: white;
    border: none;
    outline: none;
}

.nav-links li{
    list-style: none;
}

header {
font-size: 2rem;
}

.home {
    padding: 2rem 2rem;
    min-height: 85vh;
}

.name {
    line-height: 2rem;
}

.headline {
    padding: 2rem 0;
}

header,
form {
min-height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}

form button {
color: var(--accent1-color);
background: var(--background-color);
cursor: pointer;
transition: all 0.3s ease;
}

form button:hover {
background: var(--accent1-color);
color: var(--accent3-color);
}

.footer {
background: var(--accent1-color);
align-self: flex-end;
}


.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.btn {
    padding: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    background: var(--neutral-color);
    border: var(--neutral-color) solid 1px;
    color: var(--accent1-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
    
.btn:hover {
    background: var(--accent1-color);
    color: var(--accent3-color);
}
/* Project Carousel */

.projects-container {
    display: flex; 
}

.right-arrow {
    position: absolute;
    right: 5%;
    top: 50%;
    background: rgba(128, 128, 128, 0.575);
    padding: .4rem;
    border-radius: 50%;
    border: none;
    outline: none;
}

.left-arrow {
    position: absolute;
    left: 5%;
    top: 50%;
    background: rgba(128, 128, 128, 0.575);
    padding: .4rem;
    border-radius: 50%;
    border:  var(--accent1-color) solid 1px;
    outline: none;
}

.arrow {
    width: 25px;
    cursor: pointer;
    padding-right: 4px;
    padding-left: 3px;
}

.projects-carousel {
    margin: auto;
    overflow-x:scroll;
    display: flex;
    width: 90%;
    height: 300px;
}

.projects {
    width: 100%;
    display: flex;
}

.project {
    margin: 0.5rem;
    background: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    min-width: 200px;
    border-radius: 10%;
}

.project li {
    min-width: 10%;
    list-style: none;
    flex: 1;
}

.project-item {
  padding: 0rem 0.5rem;
}


@media screen and (min-width: 52em) {
    .nav-links {
        display: flex;
    }

    form input,
    form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    }
}